/*
* @Author: klmp200
* @Date:   2016-07-06 15:42:59
* @Last Modified by:   klmp200
* @Last Modified time: 2016-09-06 15:28:40
*/

@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Cinzel';

body {
	background-image: url("/gala/static/blog/img/background.png");
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

.content {
	background-color: #eee;
	border: 3px #b2810e solid;
}

#content {
	margin-right: 5%;
	margin-left: 5%;
}

.article {
	// border-top: 3px black solid;
}

.credit {
	border-top: 3px #b2810e solid;
	margin-bottom: -20px;
}

hr {
	background-color: black;
	color: black;
	border: 1px;
	width: 100%;
	height: 1px;
}

/*
* Décompte
*/

.vcenter {
    margin-top: 25%;
    margin-bottom: 25%;
}

.chronoBloc {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	display: block;
}

@media (min-width: 1200px) {
	.chronoBloc {
		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.chronoBloc {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.chrono {
	background-color: #5A6AFF;
	font-family: 'Cinzel', serif;
	color: #ffffff;
	font-size: 3.5em;
}

.days {
	font-weight: bold;
	color: black;
}

.logo {
	background-color: rgba(255, 255, 255, 0.8);
	min-width: 100%;
	max-height: 300px;
}


/*
* Réseaux Sociaux
*/

.socialBloc {
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	display: block;
}

.youtube {
	background-color: #EB9388;
	color: #ffffff;
}

.youtube:hover {
	background-color: #ffffff;
	color: #DD4B39;
}

.twitter {
    background-color: #66CDF4;
    color: #ffffff;
}

.twitter:hover {
    color: #00ACED;
    background-color: #ffffff;
}

.facebook {
	background-color: #205081;
	color: #ffffff;
}

.facebook:hover {
	color: #2E3D54;
	background-color: #ffffff;
}

/*
* Gestion des liens
*/

a:hover {
	text-decoration:none;
}

a, a:link {
	text-decoration: none;
	outline: none;
	color: black;
}

/*
* Navigateur mobile
*/

* {
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 764px) {
	body {
		padding-bottom: 15%;
	}
}
@media screen and (max-width: 330px) {
	body {
		padding-bottom: 40%;
	}
}
@-moz-document url-prefix() {
	html {
		margin-right: -14px !important;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
	}
	body {
		position: relative;
		overflow-x: hidden;
	}
}
