/*
* @Author: klmp200
* @Date:   2016-07-10 16:06:30
* @Last Modified by:   klmp200
* @Last Modified time: 2016-10-02 22:38:01
*/

#navbar {
  border-radius: 0;
  font-size: 20px;
}
#navbar li {
	font-size: 1.6rem;
}
.navbar-nav li a {
 line-height: 35px;
}
.navbar-default {
  background-color: #CAC291;
  border-color: #CAC291;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0a0c12;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #0a0c12;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0a0c12;
  background-color: #CAC291;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #CAC291;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0a0c12;
  background-color: #CAC291;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #BCBC95;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #0a0c12;
}

// @media ((min-width: 567px) and (max-width: 767px)){
// 	#navbar li {
// 		font-size: 1vw;
// 	}
// }

// @media (max-width: 567px){
// 	#navbar li {
// 		font-size: 3880px;
// 	}
// }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0a0c12;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0a0c12;
    background-color: #ffffff;
  }
}


.navbar-default {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default-gala {
	// border-bottom: 3px #b2810e solid;
}
