{% extends "BaseBlog.html" %}
{% load markdown_deux_tags %}


{% block body %}

<header class="masthead">
    <!-- Timer -->
    <div id="gala-countdown" class="countdown d-flex flex-wrap align-items-center justify-content-between"></div>
    <!-- //Timer -->
</header>

    <h1 align="center">News</h1>
    {% for article in articles %}
    <hr>

    <div class="article">

        <a href="{{article.get_absolute_url}}">
            <h2>{{article.title|title}}</h2>
        </a>
        <div class="article-preview">{{article.content|markdown:"trusted"}}</div>
    </div>

    {% endfor %}

{% endblock %}
