<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="social-icons">
    <a class="facebook" href="https://www.facebook.com/GalaDePrestigeUTBM"><i class="fa fa-facebook"></i></a>
    <a class="twitter" href="https://twitter.com/galautbm"><i class="fa fa-twitter"></i></a>
    <a class="youtube" href="https://www.youtube.com/channel/UCCovZ5tiZnfAwkR-NP7uBmw"><i class="fa fa-youtube"></i></a>
  </div>
  <p class="credit"><a href="sene.ovh" data-toggle="tooltip" title="https://sene.ovh">Victor SENE</a>  -- Paul TREHIOU</p>
</footer>
