<div class="row">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<a target="_blank" href="https://www.youtube.com/channel/UCCovZ5tiZnfAwkR-NP7uBmw" rel="nofollow">
				<div class="socialBloc youtube">
					<div align="center" class="row">
						<i class="fa fa-youtube fa-5x"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<a target="_blank" href="https://twitter.com/galautbm" rel="nofollow">
				<div class="socialBloc twitter">
					<div align="center" class="row">
						<i class="fa fa-twitter fa-5x"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<a target="_blank" href="https://www.facebook.com/GalaDePrestigeUTBM" rel="nofollow">
				<div class="socialBloc facebook">
					<div align="center" class="row">
						<i class="fa fa-facebook fa-5x"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>