{% load staticfiles %}
{% load set_var %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Gala 2017</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="{% static "blog/css/style.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "blog/css/font-awesome.css" %}">

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	{% include "blog/nav.html" %}

	{% block body %}
	{% endblock %}

	{% include "blog/footer.html" %}

<script>
$(document).ready(function(){
	// Initialize Tooltip
	$('[data-toggle="tooltip"]').tooltip();

	// Add smooth scrolling to all links in navbar + footer link
	$(".navbar a, footer a[href='#myPage']").on('click', function(event) {

		// Make sure this.hash has a value before overriding default behavior
		if (this.hash !== "") {

			// Prevent default anchor click behavior
			event.preventDefault();

			// Store hash
			var hash = this.hash;

			// Using jQuery's animate() method to add smooth page scroll
			// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
			$('html, body').animate({
				scrollTop: $(hash).offset().top
			}, 900, function(){

				// Add hash (#) to URL when done scrolling (default click behavior)
				window.location.hash = hash;
			});
		} // End if
	});
})
</script>
<!-- Countdown-Timer-JavaScript -->
<script type="text/javascript" src="{% static "blog/js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "blog/js/simplyCountdown.js" %}"></script>
<script>
var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

// default example
simplyCountdown('.simply-countdown-one', {
	year: d.getFullYear(),
	month: d.getMonth() + 1,
	day: d.getDate()
});

// inline example
simplyCountdown('.simply-countdown-inline', {
	year: d.getFullYear(),
	month: d.getMonth() + 1,
	day: d.getDate(),
	inline: true
});

//jQuery example
$('#simply-countdown-losange').simplyCountdown({
	year: 2017,
	month: 11,
	day: 18,
	enableUtc: true
});
</script>
<!-- //Countdown-Timer-JavaScript -->
</body>
</html>
